# coding: utf-8

"""
    Deepfence Runtime API v1.5

    Deepfence Runtime API provides programmatic control over Deepfence microservice securing your container, kubernetes and cloud deployments. The API abstracts away underlying infrastructure details like cloud provider, container distros, container orchestrator and type of deployment. This is one uniform API to manage and control security alerts, policies and response to alerts for microservices running anywhere i.e. managed pure greenfield container deployments or a mix of containers, VMs and serverless paradigms like AWS Fargate.  # noqa: E501

    OpenAPI spec version: 1.5
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from deepfence_runtime_api.api_client import ApiClient


class QuarantineProtectionPolicyLogsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_quarantine_protection_policy_log(self, policy_log_id, **kwargs):  # noqa: E501
        """Delete quarantine protection policy log by policy_log_id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_quarantine_protection_policy_log(policy_log_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str policy_log_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_quarantine_protection_policy_log_with_http_info(policy_log_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_quarantine_protection_policy_log_with_http_info(policy_log_id, **kwargs)  # noqa: E501
            return data

    def delete_quarantine_protection_policy_log_with_http_info(self, policy_log_id, **kwargs):  # noqa: E501
        """Delete quarantine protection policy log by policy_log_id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_quarantine_protection_policy_log_with_http_info(policy_log_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str policy_log_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['policy_log_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_quarantine_protection_policy_log" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'policy_log_id' is set
        if ('policy_log_id' not in params or
                params['policy_log_id'] is None):
            raise ValueError("Missing the required parameter `policy_log_id` when calling `delete_quarantine_protection_policy_log`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'policy_log_id' in params:
            path_params['policy_log_id'] = params['policy_log_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deepfence/v1.5/users/quarantine_protection_policy_log/{policy_log_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def find_quarantine_protection_policy_logs(self, **kwargs):  # noqa: E501
        """Get/Delete quarantine protection policy logs by filter  # noqa: E501

        Get/Delete quarantine protection policy logs by filter  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.find_quarantine_protection_policy_logs(async=True)
        >>> result = thread.get()

        :param async bool
        :param Options8 options: Options to get or delete policy logs
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.find_quarantine_protection_policy_logs_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.find_quarantine_protection_policy_logs_with_http_info(**kwargs)  # noqa: E501
            return data

    def find_quarantine_protection_policy_logs_with_http_info(self, **kwargs):  # noqa: E501
        """Get/Delete quarantine protection policy logs by filter  # noqa: E501

        Get/Delete quarantine protection policy logs by filter  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.find_quarantine_protection_policy_logs_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param Options8 options: Options to get or delete policy logs
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['options']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method find_quarantine_protection_policy_logs" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'options' in params:
            body_params = params['options']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deepfence/v1.5/users/quarantine_protection_policy_log', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_quarantine_protection_policy_log(self, policy_log_id, **kwargs):  # noqa: E501
        """Get quarantine protection policy log by given policy_log_id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_quarantine_protection_policy_log(policy_log_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str policy_log_id: Policy log ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_quarantine_protection_policy_log_with_http_info(policy_log_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_quarantine_protection_policy_log_with_http_info(policy_log_id, **kwargs)  # noqa: E501
            return data

    def get_quarantine_protection_policy_log_with_http_info(self, policy_log_id, **kwargs):  # noqa: E501
        """Get quarantine protection policy log by given policy_log_id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_quarantine_protection_policy_log_with_http_info(policy_log_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str policy_log_id: Policy log ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['policy_log_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_quarantine_protection_policy_log" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'policy_log_id' is set
        if ('policy_log_id' not in params or
                params['policy_log_id'] is None):
            raise ValueError("Missing the required parameter `policy_log_id` when calling `get_quarantine_protection_policy_log`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'policy_log_id' in params:
            path_params['policy_log_id'] = params['policy_log_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deepfence/v1.5/users/quarantine_protection_policy_log/{policy_log_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
